html, body {
  font-family: 'Lato', sans-serif;
}

.raleway { 
  font-family: 'Raleway', sans-serif;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.btn {
  font-size: 12px;
  background-color: #74cfae;
  border-radius: 2px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  vertical-align: top;
  color: #fff;
}

.btn:hover {
  color: #333;
}

.contents-text {
  font-size: 20px;
  line-height: 25px;
}

/* header */
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: 	#666464;
  font-size: 40px;
}

.contact {
  padding: 14px 12px;
}

.menu {
  display: none;
}

/* main */
.theme-wrapper {
  background-color: #f2f2f2;
}

.theme {
  padding: 320px 0 250px;
}

.title{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.sub-title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}


.what-section {
  background-color: #74cfae;
  color: #fff;
  padding-top: 50px;
}

.what-contents {
  font-size: 0;
}

.what-img {
  display: inline-block;
}

.what-content {
  width: 60%;
  display: inline-block;
  margin-left: 90px;
  vertical-align: top;
}

.what-title {
  font-size: 24px;
}

.what-text {
  margin-top: 35px;
}

.article {
  background-color: 	#f2f2f2;
  color: #333;
  padding: 60px 0 70px;
}

.article-title {
  font-size: 24px;
}

.images{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sample-img {
  transition: 0.3s;
  opacity: 0.7;
  margin-left: 100px;
}

.sample-img:hover {
  opacity: 1;
}


.sample-img:nth-child(3n + 1) {
  margin-left: 0;
}

.sample-img:nth-child(n + 4) {
  margin-top: 80px;
}



.article-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.article-text {
  width: 580px;
}

.article-btn {
  margin-left: 90px;
  padding: 14px 20px;
  white-space: nowrap;
}

.our-section {
  background-color: #4e4e4e;
  color: #fff;
  padding: 70px 0 100px;
}

.circles {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-title {
  font-size: 24px;
}

.circles-area {
  margin-left: 180px;
}

.circles-area:first-child {
  margin-left: 0;
}

.img-title {
  margin-top: 10px;
  font-size: 16px;
}

.sns {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 200px 0;
}

.sns-icon {
  transition: 0.3s;
}

.icon {
  width: 185px;
  font-size: 40px;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  color: #74cfae;
}

.sns-icon:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px;
  color: #fff;
  font-size: 12px;
}

.licence {
  text-align: right;
}

@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
  }
  .what-section {
    padding-bottom: 25px;
  }

  .what-content {
    width: 80%;
    margin-left: 0;
  }

  .what-text {
    margin-top: 35px;
  }

  .what-title {
    margin-top: 20px;
  }

  .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sample-img img {
    vertical-align: bottom;
  }

  .sample-img:nth-child(n) {
    margin: 0;
  }
  
  .sample-img:nth-child(4) {
    margin-top: 80px;
  }

  .article-content {
    margin-top: 80px;
    flex-direction: column;
  }
  .article-text {
    width: 100%;
  }

  .article-btn {
    margin: 40px 0 0;
  }
  
  .circles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .circles-area {
    margin-left: 0;
    margin-top: 88px;
  }
  
  .circles-area:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {

  .contact {
    display: none;
  }

  .menu {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .menu span{
    background-color: #ddd;
    width: 35px;
    height: 3px;
    display: block;
    margin-bottom: 5px;
  }

  .menu span:last-child{
    margin-bottom: 0;
  }
  .theme {
    width: 100%;
    padding: 160px 0 130px;
  }
  .title {
    font-size: 80px;
  }

  .sub-title {
    font-size: 30px;
    margin-top: 20px;
  }
  
  .sns {
    display: flex;
    flex-direction: column;
    padding: 50px 15px;
    text-align: center;
  }

  .sns-icon {
    width: 100%;
  }
  
}