
/* header */
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: 	#c0c0c0;
  font-size: 4em;
}

.contact {
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  border: none;
  text-decoration: none;
}

.contact:hover {
  color: #333;
  transition: 0.3s;
}

.menu {
  display: none;
}

/* main */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.theme-wrapper {
  background-color: #f2f2f2;
}

.theme {
  text-align: center;
  padding: 250px 0 ;
}

.title{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.sub-title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}


.what-section {
  background-color: #74cfae;
  color: #fff;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 50px 100px 0 100px;
}

.iphone-img {
  height: auto;
  max-width: 295px;
}

.what-contents {
  width: 600px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}
.what-title {
  font-size: 24px;
}

.what-text {
  font-size: 20px;
  margin-top: 35px;
  line-height: 1.2;
}


.article {
  background-color: 	#f2f2f2;
  color: #333;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
}

.article-title {
  font-size: 24px;
  margin-bottom: 40px;
}

.img-list {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.article-picture {
  opacity: 0.7;
}

.article-picture:hover {
  opacity: 1;
}
.img-list li{
  float: left;
  margin-left: 100px;
  margin-bottom: 80px;
}

.img-list li:first-child{
  margin-left: 0;
}

.img-list li:nth-child(4){
  margin-left: 0;
}


.article-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-text {
  width: 500px;
  line-height: 1.2;
}

.article-btn {
  background-color: #74cfae;
  color: #fff;
  border: none;
  font-size: 12px;
  padding: 12px 20px;
  margin-left: 90px;
  text-decoration: none;
}

.article-btn:hover {
  color: #333;
  transition: 0.3s;
}

.our-section {
  background-color: #4e4e4e;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.our-title {
  font-size: 24px;
  margin-bottom: 50px;
}

.img-title {
  margin-top: 10px;
  font-size: 16px;
}

.sns {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 200px 0;
}

.icon {
  width: 185px;
  font-size: 4em;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  color: #74cfae;
}

.icon:hover {
  background-color: #fff;
  transition: 0.3s;
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
  color: #fff;
  font-size: 12px;
  text-align: right;
}

@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
    margin: 0 auto;
  }
  .what-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;
  }

  .what-contents {
    width: 100%;
    margin-left: 0;
  }

  .what-title {
    margin-top: 20px;
  }

  .img-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .article-picture {
    display: block;
  }
  .img-list li {
    margin: 0;
  }

  .img-list li:nth-child(3),
  .img-list li:nth-child(6) {
    margin-bottom: 80px;
  }

  .article-content {
    display: block;
    margin: 0 auto;
  }

  .article-text {
    width: 100%;
    margin-bottom: 40px;
  }

  .article-btn {
    margin-left: 0;
    margin-top:40px;
    box-sizing: border-box;
  }

  .circles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .circles-area {
    margin-bottom: 88px;
  }

  .circles-area:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {

  .contact {
    display: none;
  }

  .menu {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .menu span{
    background-color: #ddd;
    width: 35px;
    height: 4px;
    display: block;
    margin-bottom: 9px;
  }

  .menu span:last-child{
    margin-bottom: 0;
  }
  .theme {
    width: 100%;
    padding: 260px 0 130px 0;
  }
  .title {
    font-size: 80px;
  }

  .sub-title {
    font-size: 30px;
    margin-top: 20px;
  }

  .what-section {
    padding-right: 0;
    padding-left: 0;
  }


  .sns {
    display: flex;
    flex-direction: column;
    padding: 50px 15px;
  }
  .icon {
    width: 100%;
  }
}